.ghsoq {
  border: 2px solid rgba(59, 59, 59, 0.75);
  position: absolute;
  transform: translate(0px, 61px);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: rgb(105, 105, 105, 0.75);
  display: none;
}
.dpl3d {
  z-index:100;
  position: sticky;
  top: 0;
  height: 53px;
}
.dpl3d li {
  list-style-type: none;
}
.dpl3d ul {
  margin: 0px;
  padding: 0px;
}
.dpl3d ul li .liid:hover {
  scale: 1.1;
  transition-duration: 0.1s;
  background-color: rgba(59, 59, 59, 0.75);
}
.dpl3d li .left {
  float: left;
  background-color: rgba(59, 59, 59, 0.45);
  border: 2px solid rgba(59, 59, 59, 0.45);
  border-radius: 5px;
  margin: 5px;
}
.dpl3d li .right {
  float: right;
  background-color: rgba(59, 59, 59, 0.45);
  border: 2px solid rgba(59, 59, 59, 0.45);
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
  font-weight: 600;
  margin: 5px;
}
.higvgl {
  background-color: rgba(109, 108, 107, 0.95);
  padding: 15px;
  border: 2px solid rgba(90, 90, 90, 0.75);
  border-radius: 25px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
  width: 175px;
  color: rgba(255, 255, 255, 0.75);
  font-weight: 600;
}
.higvgl:hover {
  scale: 1.05;
  transition-duration: 0.1s;
  background-color: rgba(59, 59, 59, 0.75);
}