body{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    background: url('../../assets/images/Abovetheclouds.png') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* overflow-y: hidden; */  /* Hide vertical scrollbar */
    /* overflow-x: hidden; */  /* Hide horizontal scrollbar */
}
main{
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.navbar {
    position: sticky;
    top: 0;
}
.navbar ul{
    list-style-type: none;
    background-color: rgba(49, 49, 49, 0.5);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    border: 2px solid rgba(92, 92, 92, 0.5);
}
.navbar a{
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-weight: 600;
    transition: 0.5s;
}
.navbar button{
  color: rgba(255, 255, 255, 0.75);
  background-color: rgba(56, 56, 56, 0.0);
  text-decoration: none;
  padding: 14px;
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: large;
  transition: 0.5s;
}
.navbar button:hover{
  cursor: pointer;
  background-color: rgba(56, 56, 56, 0.5);
}
.navbar a:hover{
  cursor: pointer;
  background-color: rgba(56, 56, 56, 0.5);
}
.navbar li .left{
    float: left;
    border: 2px solid rgba(59, 59, 59, 0.25);
}
.navbar li .right{
  float: right;
  border: 2px solid rgba(59, 59, 59, 0.25);
}

.content {
    width: 9.5%;
    min-height: 636px;
    border: 2px solid #6d6d6d;
    background-color: #353535;
    display: flex;
  }
  
  .box {
    padding-left: 0px;
    height: 33px;
  }
  
  #col {
    flex-direction: column;
  }
  .buttonhoveve p:hover{
    background-color: #6d6d6d;
  }
  .buttonhoveve button{
    cursor: pointer;font-size: 25px; background-color: rgba(0, 0, 0, 0);width: 180px; color: white;border: none;
  }
  .overlap1eve {
    overflow-y: auto; /*Fix Overflow Scroll*/
    position: fixed;
    background-color: rgb(97, 104, 110);
    width: 90.25%;
    min-height: 640px;
    left: 9.75%;
    top: 239px;
  }

  /* Scroll Wheel */

  /* width */
  ::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(156, 170, 231);
    border-radius: 0px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(31, 42, 71);
    border-radius: 0px;
  }

  .flexContainer-1 {
    display: flex;
    background: rgba(255,255,255, 0.1);
    border: 2px solid rgba(255,255,255, 0.3);
    border-radius: 10px;
    backdrop-filter: blur(2px);
    padding: 10px;
  }
  
  .flexContainer-1 div{
    background-color: rgba(255,255,255, 0.5);;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
  }

  .flexContainer-1 div .image-1{
    background-image: url("https://info-hub-schools.vercel.app/assets/images/image000000.png");
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100px;
  }